<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <Title> Element Generator </Title>
</head>
<body>
  {{{body}}}

  <!-- scripts -->
  <script>

  $(() => {

    $('.modal').modal();

    $('body').on('click', '.react-button', (e) => {
      e.preventDefault();
      console.log("calling react button function");
      // get data from button
      const elements = $(this).attr('data-elements'); // JSON string
      console.log(elements);
      const userId = $(this).attr('data-current-user');
      console.log(userId);

      // check if there is a user logged in
      if (userId != "" && userId != undefined) {
        console.log("calling post request");
        // if so, send request to server to make new element for that user
        $.post('/element/' + userId + '/new-element',
          { elements }, // data passed to post route (JSON string)
          (data) => {    // callback from server
            const json = JSON.parse(data);
            console.log(json);
          })
      }
    })

    // other example
    // $("#the-button").click((e) => {
    //   e.preventDefault()
    //   $.post('url/new/?name=Jojo', {a:11,b:23}, (data) => {
    //     // phs $_GET['name'] = Jojo  $_POST['a'] = 11
    //   })
    //
    //   // fetch('url').then().catch() // can also use fetch!
    // });
  });
  </script>
</body>

</html>
