<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="styles.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <Title> Element Generator </Title>
</head>
<body>
  {{{body}}}

  <!-- scripts -->
  <script>

  /*
  create an array of the elements with the selected class
  this array will be used to create the new element
  can only have up to 2 selections at a time, so if less than 2 the
  proton number is pushed to the array
  */

  $(() => {

    $('.modal').modal();
     $('select').material_select();

     var getChecked = () => {
       var currentlySelected = [];
       //for (let i = 0; i < elementsToCombine.length; i++){
       $('.unlocked_element').each(function(){
         if ($(this).hasClass('selected')){
           currentlySelected.push($(this).val());
         }
       })

    console.log(currentlySelected);
    return currentlySelected;

}

$(".unlocked_element").click(function(){

  if (getChecked().length < 2){
    $(this).toggleClass("selected");

  }

  else if(getChecked().length == 2){
    if ($(this).hasClass("selected")){
      $(this).removeClass("selected");
    }
  }
  console.log(getChecked())

})

    // react elements button @Aakash
    $('body').on('click', '.react-button', function(e) {
      e.preventDefault();
      console.log("calling react button function");



      // get selected elements from the form
      // TODO: switch to clickable buttons instead of form
      //var elementOne = parseInt($("select#elementOne").val());
      //var elementTwo = parseInt($("select#elementTwo").val());
      var elements = getChecked();
      elements = JSON.stringify(elements);

      // get data from button
      // const elements = $(this).attr('data-elements');
      // console.log("elements: " + elements);
      const userId = $(this).attr('data-current-user');

      // check if there is a user logged in
      if (userId != "" && userId != undefined) {
        console.log("calling post request");
        console.log(elements)
        // if so, send request to server to make new element for that user
        $.post('/users/' + userId + '/new-element',
          { elements }, // data passed to post route (JSON)
          (newElementName) => {    // callback from server
            console.log("new element" + newElementName);
            Materialize.toast("You just created " + newElementName, 2000);
            setTimeout(function() { location.reload(); }, 2000)
          })
      }
    })

    // other example
    // $("#the-button").click((e) => {
    //   e.preventDefault()
    //   $.post('url/new/?name=Jojo', {a:11,b:23}, (data) => {
    //     // phs $_GET['name'] = Jojo  $_POST['a'] = 11
    //   })
    //
    //   // fetch('url').then().catch() // can also use fetch!
    // });
  });
  </script>
</body>

</html>
