<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- NAME: home.handlebars                                                      -->
<!-- DESCRIPTION: Handlebars file for laying out home screen.                   -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->


<!-- ====================== DISPLAY HEADER WITH LOGINBAR ====================== -->
<header>
  {{>loginbar }}
</header>

<!-- ============== DISPLAY MAIN CONTENT WITH ELEMENTAL FUSIONS =============== -->
<main>
  <div class="stars">
    <form class="elementButtons">
      {{#each elementsToCombine}}
        <button class="unlocked_element" type="button" value="{{this.protons}}">{{this.name}}</button>
      {{/each}}

      <div class="container">
        <button
          type="submit"
          class="pulse-button react-button"
          data-current-user="{{currentUser}}">
          React!
        </button>
      </div>
    </form>
  </div>
</main>

<!-- ====================== SETTING UP MODAL STRUCTURES ======================= -->
<div id="modalL" class="modal">
  <form class="modal-content" method="post" action="/login">
    <input name="username" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Log In</button>
    </div>
  </form>
</div>

<div id="modalS" class="modal">
  <form class="modal-content" method="post" action="/sign-up">
    <input name="username" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Sign Up</button>
  </div>
  </form>
</div>
