<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- NAME: home.handlebars                                                      -->
<!-- DESCRIPTION: Handlebars file for laying out home screen.                   -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->


<!-- ====================== DISPLAY HEADER WITH LOGINBAR ====================== -->
<header>
  {{>loginbar }}
</header>

<!-- ============== DISPLAY MAIN CONTENT WITH ELEMENTAL FUSIONS =============== -->
<main>


  <div class="stars">
    <div class="wrapper">
  <form class="elementButtons">
  {{#each elementsToCombine}}
    <button class="unlocked_element" type="button" value="{{this.protons}}">{{this.abbrv}}<br>{{this.protons}}</button>
 {{/each}}

    <div class="container">
    <button
      type="submit"
      class="pulse-button react-button"
      data-current-user="{{currentUser}}">
        Fuse
    </button>
  </div>
  </form>
</div>
  </div>

</main>

<!-- ====================== SETTING UP MODAL STRUCTURES ======================= -->
<div id="modalL" class="modal">
  <form class="modal-content" method="post" action="/login">
    <input name="username" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Log In</button>
    </div>
  </form>
</div>

<div id="modalS" class="modal">
  <form class="modal-content" method="post" action="/sign-up">
    <input name="username" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Sign Up</button>
  </div>
  </form>
</div>

<div id="instructionsModal" class="modal">
  <h2> INSTRUCTIONS </h2>
  <h5>Welcome to the NUCLEUS: ELEMENTARY CHEMISTRY SANDBOX.</h5><br>
  <h6> Here's how to play: </h6>
  <h7><li> Select TWO ELEMENTS to combine them with a NUCLEAR FUSION! </li>
  <li> If you select only ONE ELEMENT, two atoms of that element will be FUSED TOGETHER! </li>
  <li> To check your elements and see what you've unlocked, go to "MY PROGRESS" in the navbar! </li></h7>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>
