<header>
  {{>loginbar }}
</header>

<main>
  <h1> Your Progress </h1>
  {{#each unlockedElementsInTable}}
    <h5>{{this.name}} ({{this.abbrv}})</h5>
  {{/each}}
</main>

<footer>
  <button href="/"> HOME </button>
</footer>