@font-face {
  font-family: 'delirium';
  src: url('./fonts/DELIRIUM.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Exo');

html,body{
  background-color:#000000;
  color: white;
  font-family: 'Exo', sans-serif;
}

#modalL {
  font-family: sans-serif !important;
  color: black;
}

#modalS {
  font-family: sans-serif !important;
  color: black;
}

#instructionsModal {
  color: black;
  padding-left: 10px;
}

.elementButtons {
  margin-top: 60px;
}

.container {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
}

/* unlocked elements buttons */
.unlocked_element{
  width:5vw;
  height:5vw;
  border-radius:50%;
  border:none;
  /*font-family: 'Ubuntu', sans-serif;*/
  /*font-size: 150%;*/
  font-size:1.5vw;
  background-color:#4571e0;
  z-index:4;
  margin-right:1vw;
  box-sizing:border-box;

}

.unlocked_element:hover{
  background-color:#97ade5;
}

.selected {
  /*background-color:#86c631;*/
  border:4px solid #f7e304;
}

.pulse-button {
  margin-top: 100px;
  width: 200px;
  height: 200px;
  border: none;
  box-shadow: 0 0 0 0 rgba(255, 216, 76, 0.7);
  border-radius: 50%;
  background-color: #ffd84c;
  font-family: delirium !important;
  font-size: 400%;
  background-size:cover;
  background-repeat: no-repeat;
  background:  -webkit-radial-gradient(circle, #ffd84c, #ffba4c, #ffab4c);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  font-size:450%;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


header {
    background-color:rgba(24, 17, 30, 0.9);
    color:#ffffff;
    display:flex;
    align-items: center;
    /*font-size: 160%;*/
    font-size:1.2vw;
    height:50px;
    position:relative;
    z-index:5;
}
header .login button {
  color: white !important;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

.periodic-table-wrapper {
  display: grid;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto;
  background: rgba(114, 186, 94, 0.05);
}

.periodic-table {
  grid-column: 2/3;
  display: grid;
  width: 100%;
  justify-content: center;

  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.periodic-table-element {
  width: 4.167vw;
  height: 4.167vw;
  text-align: center;
  border: 3px solid;
  border-radius: 4px;
}

[data-element-group="alkali-metal"]           {border-color: darkred}
[data-element-group="alkaline-earth-metal"]   {border-color: darkorange}
[data-element-group="transition-metal"]       {border-color: yellow}
[data-element-group="basic-metal"]            {border-color: lightgreen}
[data-element-group="metalloid"]              {border-color: blue}
[data-element-group="nonmetal"]               {border-color: darkblue}
[data-element-group="halogen"]                {border-color: darkorchid}
[data-element-group="noble-gas"]              {border-color: darkslateblue}
[data-element-group="lanthanide"]             {border-color: lightpink}
[data-element-group="actinide"]               {border-color: lightsalmon}

[data-element-id="H"]       {grid-row: 1; grid-column: 1}
[data-element-id="He"]      {grid-row: 1; grid-column: 18}

[data-element-id="Li"]      {grid-row: 2; grid-column: 1}
[data-element-id="Be"]      {grid-row: 2; grid-column: 2}
[data-element-id="B"]       {grid-row: 2; grid-column: 13}
[data-element-id="C"]       {grid-row: 2; grid-column: 14}
[data-element-id="N"]       {grid-row: 2; grid-column: 15}
[data-element-id="O"]       {grid-row: 2; grid-column: 16}
[data-element-id="F"]       {grid-row: 2; grid-column: 17}
[data-element-id="Ne"]      {grid-row: 2; grid-column: 18}

[data-element-id="Na"]      {grid-row: 3; grid-column: 1}
[data-element-id="Mg"]      {grid-row: 3; grid-column: 2}
[data-element-id="Al"]      {grid-row: 3; grid-column: 13}
[data-element-id="Si"]      {grid-row: 3; grid-column: 14}
[data-element-id="P"]       {grid-row: 3; grid-column: 15}
[data-element-id="S"]       {grid-row: 3; grid-column: 16}
[data-element-id="Cl"]      {grid-row: 3; grid-column: 17}
[data-element-id="Ar"]      {grid-row: 3; grid-column: 18}

[data-element-id="K"]       {grid-row: 4; grid-column: 1}
[data-element-id="Ca"]      {grid-row: 4; grid-column: 2}
[data-element-id="Sc"]      {grid-row: 4; grid-column: 3}
[data-element-id="Ti"]      {grid-row: 4; grid-column: 4}
[data-element-id="V"]       {grid-row: 4; grid-column: 5}
[data-element-id="Cr"]      {grid-row: 4; grid-column: 6}
[data-element-id="Mn"]      {grid-row: 4; grid-column: 7}
[data-element-id="Fe"]      {grid-row: 4; grid-column: 8}
[data-element-id="Co"]      {grid-row: 4; grid-column: 9}
[data-element-id="Ni"]      {grid-row: 4; grid-column: 10}
[data-element-id="Cu"]      {grid-row: 4; grid-column: 11}
[data-element-id="Zn"]      {grid-row: 4; grid-column: 12}
[data-element-id="Ga"]      {grid-row: 4; grid-column: 13}
[data-element-id="Ge"]      {grid-row: 4; grid-column: 14}
[data-element-id="As"]      {grid-row: 4; grid-column: 15}
[data-element-id="Se"]      {grid-row: 4; grid-column: 16}
[data-element-id="Br"]      {grid-row: 4; grid-column: 17}
[data-element-id="Kr"]      {grid-row: 4; grid-column: 18}

[data-element-id="Rb"]      {grid-row: 5; grid-column: 1}
[data-element-id="Sr"]      {grid-row: 5; grid-column: 2}
[data-element-id="Y"]       {grid-row: 5; grid-column: 3}
[data-element-id="Zr"]      {grid-row: 5; grid-column: 4}
[data-element-id="Nb"]      {grid-row: 5; grid-column: 5}
[data-element-id="Mo"]      {grid-row: 5; grid-column: 6}
[data-element-id="Tc"]      {grid-row: 5; grid-column: 7}
[data-element-id="Ru"]      {grid-row: 5; grid-column: 8}
[data-element-id="Rh"]      {grid-row: 5; grid-column: 9}
[data-element-id="Pd"]      {grid-row: 5; grid-column: 10}
[data-element-id="Ag"]      {grid-row: 5; grid-column: 11}
[data-element-id="Cd"]      {grid-row: 5; grid-column: 12}
[data-element-id="In"]      {grid-row: 5; grid-column: 13}
[data-element-id="Sn"]      {grid-row: 5; grid-column: 14}
[data-element-id="Sb"]      {grid-row: 5; grid-column: 15}
[data-element-id="Te"]      {grid-row: 5; grid-column: 16}
[data-element-id="I"]       {grid-row: 5; grid-column: 17}
[data-element-id="Xe"]      {grid-row: 5; grid-column: 18}

[data-element-id="Cs"]      {grid-row: 6; grid-column: 1}
[data-element-id="Ba"]      {grid-row: 6; grid-column: 2}
/* INSERT LANTHANIDES PLACEHOLDER HERE */
[data-element-id="Hf"]      {grid-row: 6; grid-column: 4}
[data-element-id="Ta"]      {grid-row: 6; grid-column: 5}
[data-element-id="W"]       {grid-row: 6; grid-column: 6}
[data-element-id="Re"]      {grid-row: 6; grid-column: 7}
[data-element-id="Os"]      {grid-row: 6; grid-column: 8}
[data-element-id="Ir"]      {grid-row: 6; grid-column: 9}
[data-element-id="Pt"]      {grid-row: 6; grid-column: 10}
[data-element-id="Au"]      {grid-row: 6; grid-column: 11}
[data-element-id="Hg"]      {grid-row: 6; grid-column: 12}
[data-element-id="Tl"]      {grid-row: 6; grid-column: 13}
[data-element-id="Pb"]      {grid-row: 6; grid-column: 14}
[data-element-id="Bi"]      {grid-row: 6; grid-column: 15}
[data-element-id="Po"]      {grid-row: 6; grid-column: 16}
[data-element-id="At"]      {grid-row: 6; grid-column: 17}
[data-element-id="Rn"]      {grid-row: 6; grid-column: 18}

[data-element-id="Fr"]      {grid-row: 7; grid-column: 1}
[data-element-id="Ra"]      {grid-row: 7; grid-column: 2}
/* INSERT ACTINIDES PLACEHOLDER HERE */
[data-element-id="Rf"]      {grid-row: 7; grid-column: 4}
[data-element-id="Db"]      {grid-row: 7; grid-column: 5}
[data-element-id="Sg"]      {grid-row: 7; grid-column: 6}
[data-element-id="Bh"]      {grid-row: 7; grid-column: 7}
[data-element-id="Hs"]      {grid-row: 7; grid-column: 8}
[data-element-id="Mt"]      {grid-row: 7; grid-column: 9}
[data-element-id="Ds"]      {grid-row: 7; grid-column: 10}
[data-element-id="Rg"]      {grid-row: 7; grid-column: 11}
[data-element-id="Cn"]      {grid-row: 7; grid-column: 12}
[data-element-id="Nh"]      {grid-row: 7; grid-column: 13}
[data-element-id="Fl"]      {grid-row: 7; grid-column: 14}
[data-element-id="Mc"]      {grid-row: 7; grid-column: 15}
[data-element-id="Lv"]      {grid-row: 7; grid-column: 16}
[data-element-id="Ts"]      {grid-row: 7; grid-column: 17}
[data-element-id="Og"]      {grid-row: 7; grid-column: 18}